<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
<div class="card rounded p-5 w-25">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center">Login</h5>
    <form [formGroup]="loginForm">
        <div class="form-group mt-4">
        <label for="email">Email address</label>
        <input type="email" formControlName="email" class="form-control mt-2" id="email" placeholder="Enter your email"
        [ngClass]="{'is-invalid':loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)}"
        />
        <!-- validation feedback  -->
         <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || (loginForm.get('email')?.dirty) )">
          <div *ngIf="loginForm.get('email')?.errors?.['required']" class="alert alert-danger">
            Email is required
          </div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']" class="alert alert-danger">
            Please enter a valid email
          </div>
         </div>
        </div>
        <div class="form-group mt-4">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control mt-2" id="password" placeholder="Enter your password"
            [ngClass]="{'is-invalid':loginForm.get('password')?.invalid && (loginForm.get('password')?.touched) || (loginForm.get('password')?.dirty)}"
            />
            <!-- validation feedback  -->
             <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched) || (loginForm.get('password')?.dirty)">
              <div *ngIf="loginForm.get('password')?.errors?.['required']" class="alert alert-danger">Password is required</div>
              <div *ngIf="loginForm.get('password')?.errors?.['minlength']" class="alert alert-danger">Passwword must be atleast 6 characters  long</div>
             </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-4">
        <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
        <p class="m-2 font-weight-bold">OR</p>
        <button type="button" class="btn btn-primary" routerLink="/create-account">Create Account</button>
        </div>
    </form>
  </div>
</div>
</div>